.activity-items-wrapper {
    background-color: #ddd;
    padding: 0;
    border-radius: 4px;
    height: 450px;
    overflow-y: scroll;
    margin-bottom: 20px;
    border: 1px solid #c2c2c3;
}

.activity-item-card {
    display: flex;
    flex-direction: row;
    border: 1px solid #c2c2c3;
    background-color: #f1f5f9;
    border-radius: 4px;
    padding: 10px;
    margin: 10px
}

.card-left {

}

.card-right {
    margin: 0 0 0 auto;
    display: flex;
    align-items: center;
}

.card-icon {
    font-size: 14pt;
    padding: 5px;
}

.primary-details {
    display: flex;
    align-items: center;
}

.changes {
    font-size: 14pt;
    font-weight: bold;
}

.changes > .additions {
    color: green;
}

.changes > .deletions {
    color: darkred;
}

.commit-message {
    font-style: italic;
    font-size: 12pt;
}

.date {
    color: #999999;
    margin-left: 5px;
}

.commit-hash {
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    margin-left: auto;
    font-size: 14pt;
}

.emphasize {
    font-size: 14pt;
    font-style: italic;
    font-weight: bold;
}

.activity-title {
    display: flex;
    align-items: center;
    position: relative;
}

.tabs {
    margin: 0 20px -35px auto;
}

.tab-option {
    padding: 8px 15px;
    font-size: 16pt;
    cursor: pointer;
    color: #007f70;
    /* border-bottom: 1px solid #c2c2c3; */
}

.selected {
    border: 1px solid #c2c2c3;
    background-color: #ddd;
    border-bottom: 0;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
}

@media(max-width: 768px) {
    .activity-title-text-wrapper {
        display: flex;
        flex-direction: row;
        align-items: center;
        width: 100%;
    }
    .activity-item-card {
        font-size: 12pt !important;
    }
    .changes {
        font-size: 12pt;
    }
    .emphasize {
        font-size: 12pt;
    }
    .activity-title {
        flex-direction: column;
    }
    .tabs {
        margin: 10px auto -17px 5px;
    }

    .card-right {
        font-size: 11pt !important;
    }

}