html {
    background-color: #f1f5f9;
    font-family: 'Lato';
}

html.dark {
    background-color: #444444;
    color: #fff;
}
  
.dark .nav-links a {
    color: #fff;
}

body {
    margin: 0 auto;
    width: 100%;
    max-width: 100ch;
    padding: 1rem;
    line-height: 1.5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.content {
    flex: 1;
}

* {
    box-sizing: border-box;
}

h1 {
    margin: 1rem 0;
    font-size: 2.5rem;
}

/* nav styles */
.hamburger {
    padding-right: 20px;
    cursor: pointer;
  }
  
  .hamburger .line {
    display: block;
    width: 40px;
    height: 5px;
    margin-bottom: 10px;
    background-color: #ff9776;
  }

#name {
    display: inline-block;
}
  
.nav-links {
    float: right;
    width: 100%;
    top: 5rem;
    left: 48px;
    background-color: #ff9776;
    display: none;
    margin: 0;
    display: inline-block;
}
  /*
.nav-links a {
    display: block;
    text-align: center;
    padding: 5px 0;
    margin: 15px;
    text-decoration: none;
    color: gray;
    font-size: 1.2rem;
    font-weight: bold;
}

.nav-links a::after {
    content: '';
    display: block;
    position: absolute;
    left: 0;
    bottom: -5px;
    width: 0;
    height: 2px;
    background: blue;
    transition: width 0.3s ease;
}

*/

.nav-links a {
    display: block;
    text-align: center;
    position: relative;
    text-decoration: none;
    color: black;
    margin: 5px;
}

.nav-links a::after {
    content: '';
    position: absolute;
    width: 0;
    height: 4px;
    bottom: 0;
    left: 0;
    background-color: hwb(165 26% 25%);
    transition: width 0.3s ease;
}

.nav-links a:hover::after {
    width: 100%;
}

.nav-links .offset {
    background-color: white;
    border: 2px solid hwb(165 26% 25%);
    box-shadow: 0.4em 0.3em 0 0 hwb(165 26% 25%);
    text-decoration: none !important;
    font-size: 14px;
    color: hwb(165 26% 25%);
}

.expanded {
    display: unset;
}

.tag {
    margin: 0.25em;
    border-radius: .5em;
    padding: .5em 1em;
    font-size: 12pt;
    border: none;
    border-radius: 50px;
    background-color: hwb(165 26% 25%);
    color: white;
  }
  
@media screen and (min-width: 636px) {
    .nav-links {
        margin-left: 5em;
        display: block;
        position: static;
        width: auto;
        background: none;
    }
  
    .nav-links a {
        display: inline-block;
        padding: 15px 20px;
    }
    
    .hamburger {
        display: none;
    }
}

a {
    text-decoration: none;
    color: #129f90;
    cursor: pointer;
}

a:hover {
    color: #007f70;
    font-weight: bold;
}