---

---

<body>
    <a href="/">Home</a>
    <a href="/about/">About</a>
    <a href="/blog/">Blog</a>

    <h1>About Me</h1>
    <p>I'm a full stack software engineer, living in Indianapolis, IN.</p>
    <p>I'm passionate about building quality software.</p>
</body>
