---
import BaseLayout from '../layouts/BaseLayout.astro';
import Typewriter from '../components/Typewriter';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <div class="home-body">
    <Typewriter client:load text="Hey, I'm Evan." makeMistakes mistakes={["Hey, I'um Evban", "Heaj, I'm ean"]} highlightStartIndex={9} highlightEndIndex={13}></Typewriter>
    <div class="small-text">
      <p>I'm a full-stack software engineer based in <b>Indianapolis, IN.</b></p>
      <p>I care about building useful tools, advancing important technology, and supporting others. I'm currently working in the energy sector.</p>  
    </div>
  </div>
  <!-- <div class="whats-new">
    <h2>What's New?</h2>
    <p>Recent posts, projects and other goodies</p>
  </div> -->
</BaseLayout>
<style>
  .home-body {
    margin-top: 150px;
  }

  .small-text {
    width: 700px;
  }

  .small-text p{
    font-size: 16pt;
  }

  .whats-new {
    margin-top: 10rem;
  }

  .whats-new h2 {
    font-size: 32px;
  }
</style>
