---
import BaseLayout from '../layouts/BaseLayout.astro';
const pageTitle = "Home Page";


---
<script>
    // TODO: Store value in user session storage so that each user sees their own unique message.
    const pageText = "Hey, I'm Evan.";
    const helloElement = document.getElementById("hello")!;
    let index = 0;
    function type()
    {
        if (index < pageText.length)
        {
            helloElement.innerHTML = pageText.slice(0, index) + '<span class="blinking-cursor">|</span>';
            index++;
            setTimeout(type, Math.random() * 150 + 50);
        }
        else
        {
            helloElement.innerHTML = pageText.slice(0, index) + '<span class="blinking-cursor">|</span>';
        }
    }

    type();
</script>
<style>
    .blinking-cursor {
        margin-left: 5px;
        background-color: #fff;
        animation: blink 1s linear infinite;
    }
    @keyframes blink {
        50% {
            opacity: 0;
        }
    }
</style>
<BaseLayout pageTitle={pageTitle}>
  <h1 id="hello"></span></h1>
  <p>I'm a full stack software engineer based in Indianapolis, IN.</p>
  <p>I care about building useful tools, advancing important technology, and supporting others.</p>
  <i style="color: black" data-feather="circle"></i>
</BaseLayout>