---
import BaseLayout from '../layouts/BaseLayout.astro';
import Greeting from '../components/Greeting.jsx';
const pageTitle = "Home Page";
---
<BaseLayout pageTitle={pageTitle}>
  <h1>Hey, I'm Evan.</h1>
  <p>I'm a full stack software engineer based in Indianapolis, IN.</p>
  <p>I care about building useful tools, advancing important technology, and supporting others.</p>
  <i style="color: black" data-feather="circle"></i>

</BaseLayout>