---
import BaseLayout from '../layouts/BaseLayout.astro';
import Typewriter from '../components/Typewriter';
const pageTitle = "Home Page";
---

<BaseLayout pageTitle={pageTitle}>
  <Typewriter client:load text="Hey, I'm Evan." makeMistakes mistakes={["Hey, I'um Evban"]}></Typewriter>
  <p>I'm a full stack software engineer based in Indianapolis, IN.</p>
  <p class="borkus">I care about building useful tools, advancing important technology, and supporting others.</p>
  <i data-feather="circle"></i>
</BaseLayout>

<script type="module">
  const helloElement = document.getElementById("hello");
  const pageText = "Hey, I'm Evan.";
  let index = 0;


  if (helloElement) {
      type();
  }
</script>

<style>
    .blink {
        margin-left: 5px;
        background-color: red;
        color: blue;
        animation: blink 1s infinite;
    }
    @keyframes blink {
        0%, 100% { opacity: 1; }
        50% { opacity: 0; }
    }
</style>
