---
import BaseLayout from "../layouts/BaseLayout.astro";
import Typewriter from "../components/Typewriter";
import ActivityFeed from "../components/ActivityFeed/ActivityFeed";
import Typewriter2 from "../components/Typewriter2";
const pageTitle = "Home";
const allPosts = await Astro.glob("../pages/posts/*.md");
---
<BaseLayout pageTitle={pageTitle}>
    <div class="home-body">
        <!-- <Typewriter
            client:load
            text="Hey, I'm Evan."
            makeMistakes
            mistakes={["Hey, I'um Evban", "Heaj, I'm ean"]}
            highlightStartIndex={9}
            highlightEndIndex={13}
        /> -->
        <Typewriter2 client:load text="Hey, I'm Evan." alternateTexts={[]}></Typewriter2>
        <div class="small-text">
            <p>
                I'm a full-stack software engineer based in <b
                    >Indianapolis, IN.</b
                >
            </p>
            <p>
                I care about building useful tools, advancing important
                technology, and supporting others. I'm currently working in the
                energy sector.
            </p>
        </div>
    </div>
    <div class="small-text">
        You can learn more about me <a href="/about">here</a>, or check out some
        recent going-ons on <a href="/blog">my blog</a>.
    </div>
    <div class="recent-activity">
        <ActivityFeed client:load blogPosts={allPosts}/>
    </div>
</BaseLayout>
<style>
    .home-body {
        margin-top: 125px;
    }

    .small-text p {
        font-size: 16pt;
    }

    .whats-new {
        margin-top: 10rem;
    }

    .whats-new h2 {
        font-size: 32px;
    }

    .recent-activity {
        margin: 120px auto 0;
    }
    .recent-posts-title {
        margin-bottom: 0px;
    }
    .post {
        width: 100%;
        display: inline-block;
        border-bottom: 1px solid #c2c2c3;
    }
    .post:last-child {
        border-bottom: none;
    }
    .post-title {
        margin-top: 5px;
        float: left;
        display: flex;
        align-items: center;
    }
    .post-title > a {
        margin-left: 10px;
    }
    .post-date {
        margin-top: 5px;
        float: right;
        font-family: 'Courier New', Courier, monospace;
    }
    @media (max-width: 768px) {
        .home-body {
            margin-top: 45px;
        }
        .post-title {
            margin-bottom: 0;
            float: left;
            width: 100%;
        }

        .post-date {
            float: left;
            margin-top: 0;
        }
    }
</style>
