---
import ProjectCard from "../components/ProjectCard.astro";
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Projects">
  <div class="projects-title">
    <h1>Featured Projects</h1>
    <p class="small">
      Things I'm working on, or worked on enough to feel comfortable showing. To
      see all my projects, check out <a href="https://github.com/evklein/"
        >my GitHub</a
      >.
    </p>
  </div>
  <div class="project-cards-wrapper">
    <ProjectCard
      year={2025}
      status="pending"
      title="Watchdog"
      description="Financial and economic monitoring - pipelines and dashboards with Python and Blazor."
      sourceUrl="https://github.com/evklein/watchdog"
      articleUrl="/posts/watchdog"
    />
    <ProjectCard
      year={2024}
      status="inactive"
      title="Advent of Code 2024"
      description="Python solutions for Advent of Code."
      sourceUrl="https://github.com/evklein/aoc-2024"
    />
    <ProjectCard
      year={2024}
      status="active"
      title="Forehead Data Pipelines"
      description="Data pipelines and visualizations for all the data collected with forehead."
      sourceUrl="https://github.com/evklein/forehead-data-pipelines"
    />
    <ProjectCard
      year={2024}
      status="active"
      title="Forehead"
      description="An open golf analytics platform. Svelte + Django."
      sourceUrl="https://github.com/evklein/Forehead"
    />
    <ProjectCard
      year={2024}
      status="active"
      title="blog"
      description="Personal blog for Evan Klein. Astro + React."
      sourceUrl="https://github.com/evklein/blog"
      productionUrl="https://evklein.com"
      articleUrl="/posts/hello-world"
    />
    <ProjectCard
      year={2023}
      status="inactive"
      title="Advent of Code 2023"
      description="C# solutions for Advent of Code."
      sourceUrl="https://github.com/evklein/AdventOfCode2023"
    />
    <ProjectCard
      year={2022}
      status="pending"
      title="Everest"
      description="Personal hub for research, issue tracking, feature development, and deployment. Implemented with Blazor."
      sourceUrl="https://github.com/evklein/everest-dashboard"
    />
    <ProjectCard
      year={2022}
      status="inactive"
      title="Chore Channel"
      description="Chore tracker application for our home, built with React for an old tablet."
      sourceUrl="https://github.com/evklein/chore-channel"
    />
    <ProjectCard
      year={2022}
      status="inactive"
      title="Web Server in Rust"
      description="A web server capable of servicing HTTP requests over TCP, fully implemented in Rust."
      sourceUrl="https://github.com/evklein/rust-web-server"
    />
    <ProjectCard
      year={2022}
      status="inactive"
      title="Rust Roguelike"
      description="My progress of the classic roguelike tutorial in Rust."
      sourceUrl="https://github.com/evklein/rust-roguelike"
    />
    <ProjectCard
      year={2022}
      status="inactive"
      title="Microservices & Container Orchestration Coursework"
      description="All of my coursework for Mehmet Ozkaya's container orchestration course on Udemy."
      sourceUrl="https://github.com/evklein/k8s-microservices-devops-coursework?tab=readme-ov-file"
    />
    <ProjectCard
      year={2015}
      status="inactive"
      title="Stegory"
      description="A steganographic encryption and decryption tool implemented in Java. Not much to look at nowadays, but it was one of my first projects and I'm still sorta proud of it."
      sourceUrl="https://github.com/evklein/Stegory"
    />
  </div>
</BaseLayout>
<script>
  addEventListener("DOMContentLoaded", (_) => {});
</script>
<style>
  h1 {
    font-size: 2.25rem;
  }
  p .small {
    font-size: 12pt;
  }
  .project-cards-wrapper {
    margin: 30px 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
  }
</style>
