---
import Social from "./Social.astro";

const currentFullYear: number = new Date().getFullYear()
---
<style>
    hr {
        margin-top: 0;
        margin-bottom: 10px;
        width: 90%;
    }
    
    p {
        padding: 0.5rem 1rem;
    }

    .links {
        text-align: center;
    }

    .links p {
        display: inline-block !important;
        font-size: 12px;
    }
</style>

<footer>
    <hr />
    <div class="links">
        <Social externalUrl="https://github.com/evklein/" icon="github" />
        <Social externalUrl="https://www.linkedin.com/in/evan-klein-40b255119/" icon="linkedin" />
        <p>Copyright © Evan Klein {currentFullYear}</p>
    </div>
</footer>
