---
import Social from "./Social.astro";

const currentFullYear: number = new Date().getFullYear()
---
<style>
    hr {
        margin-top: 0;
        margin-bottom: 10px;
        width: 90%;
    }

    .links {
        text-align: center;
    }

    .links p {
        display: inline-block !important;
        font-size: 12px;
    }
</style>

<footer>
    <hr />
    <div class="links">
        <div class="icons">
            <Social externalUrl="https://github.com/evklein/" icon="github" title="GitHub"/>
            <Social externalUrl="https://www.linkedin.com/in/evan-klein-40b255119/" icon="linkedin" title="LinkedIn" />
            <Social externalUrl="/rss.xml" icon="rss" title="RSS">RSS</Social>
    
        </div>
        <p>Copyright © Evan Klein {currentFullYear}</p>
    </div>
</footer>
