---
import Hamburger from "./Hamburger.astro";
import Navigation from "./Navigation.astro";
---

<header>
    <nav>
        <div class="header-primary">
            <h1 id="name"><a href="/">Evan Klein</a></h1>
            <Hamburger />
        </div>
        <div class="header-secondary">

            <Navigation />
        </div>
    </nav>
</header>

<style>
    #name {
        font-size: 1.5rem;
    }
    #name a {
        text-decoration: none;
        color: black;
    }
    #name a:hover {
        color: hwb(165 26% 25%);
    }
</style>
