---

---
<div class="nav-links">
    <a href ="/">Home</a>
    <a href="/about">About</a>
    <a href="https://www.github.com/evklein">Projects</a>
    <a href="/blog/">Blog</a>
    <a class="offset" href="/resume.pdf">my resume</a>
</div>