---
import BaseLayout from "../../layouts/BaseLayout.astro";
---

<BaseLayout pageTitle="Projects">
    <h1>Projects</h1>
    <p>A full accounting of my projects can be found on <a href="https://github.com/evklein/">my Github</a>.</p>
</BaseLayout>
<style>
    .main-about {
        width: 700px;
    }

    p {
        font-size: 14pt;
    }

    .site-about {
        margin-top: 5rem;
    }
</style>
