---
import BaseLayout from "./BaseLayout.astro";
const { frontmatter } = Astro.props;
---

<BaseLayout pageTitle={frontmatter.title}>
    <br />
    <div id="top-info">
        <a href="/evicons" title="What is this smudge?">
            <canvas id={frontmatter.title} class="evicon" width="25" height="25"></canvas>
        </a>
        <p class="date">
            {
                new Date(frontmatter.pubDate.slice(0, 10)).toLocaleDateString(
                    "en-us",
                    {
                        weekday: "long",
                        year: "numeric",
                        month: "short",
                        day: "numeric",
                    },
                )
            }
        </p>
    </div>
    <p><em>{frontmatter.description}</em></p>
    <slot />
</BaseLayout>
<style>
    #top-info {
        display: flex;
        margin-top: 25px;
    }
    canvas {
        margin-left: 10px;
        margin-top: -3px;
        border: 1px solid #aaa;
        border-radius: 5px;
    }
    .date {
        font-size: 14px;
        margin: 0 7px;
        font-style: italic;
    }
</style>
<script type="module" src="../src/scripts/evicons-loader.js"></script>
<script defer>
    const MAX_IMAGE_WIDTH_PX = 850;
    let images = document.getElementsByTagName("img");
    for (let i = 0; i < images.length; i++) {
        let targetImage = images[i];

        // Resize if too large
        if (targetImage.width > MAX_IMAGE_WIDTH_PX) {
            let previousWidth = targetImage.width;
            targetImage.width = MAX_IMAGE_WIDTH_PX;
            targetImage.height =
                (MAX_IMAGE_WIDTH_PX * targetImage.height) / previousWidth;
        }

        // Position images in center of screen, margin: auto does not work
        targetImage.style.marginLeft = `calc((100ch - ${targetImage.width}px) / 2)`;
    }
</script>
